.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 741px;

  position: absolute;
  width: 1060px;
  height: 51px;
  left: 218px;
  top: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 263px;
  height: 51px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 56px;
  height: 32px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.drop {
  top: 6px;
  left: 0px;
  color: #727080;
}
