.cashaccelerationdata-container {
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  left: 220px;
  display: flex;
  width: 700px;
  height: 200px;
  padding: 20px 32px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--border-low-emp, #28272b);
  background: var(--background-elevation-1, #201f24);
}
